# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
venv/
env/

# Next.js & Build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Large Data & Vector DBs (Never commit large files to GitHub)
*.parquet
lancedb_msmarco/
*.lance

# Environment & Credentials
.env*
!.env.example

# Misc & Logs
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
